.App {
  text-align: center;
}

  input{
    border: solid 1px rgb(189, 189, 189);
    border-radius: 50px ;
    width:100%;
    padding:10px;
    margin-top: 20px;
    outline: none;
    
      &:hover{
        box-shadow: 0px 0px 3px gray;
      }
      &:focus{
        border: solid 1px rgb(189, 189, 189);
        box-shadow: 0px 0px 8px gray;
      }
  }

  .categories{
    padding: 0;
    
  }

  #card{
    box-shadow: 0px 0px 10px 0.5px rgb(202, 202, 202);
    &:hover{
      box-shadow: 0px 0px 20px 1px gray;
    }
  }


  #header{
    border-bottom: 2px solid rgb(163, 163, 163);
    background-color: red;
  }

  .div{
    nav{
      justify-content: space-between;
      background-color: red;
    } 
  }

  $active-color: #acacac;
  .list-group-item{
    cursor: pointer;
    &:hover{
      background-color: rgb(231, 231, 231)
    }
    &.active{
      background-color: $active-color;
      border-color: $active-color;
      &:hover{
        background-color: $active-color;
      }      
    }
    
  }

  